{% extends 'baseLogin.html' %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

{% block title %}Administrar Usuarios{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_user.css') }}">
{% endblock %}

{% block body %}

<div class="container mt-4 custom-header">Administración de Usuarios de YUI, tu acompañante emocional</div>
<!-- Agrega aquí una tabla para mostrar la lista de usuarios -->
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contraseña</th>
      <th>Administrador</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
      <td>{{ "Sí" if user.administrator else "No" }}</td>
      <td>
        <a href="{{ url_for('edit_user', user_id=user.id) }}" class="btn btn-primary">Editar</a>
        <a href="{{ url_for('delete_user', user_id=user.id) }}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="container mt-4 text-right"> <!-- Ajusta la alineación del contenedor -->
  <a href="{{ url_for('add_user') }}" class="btn btn-success">Agregar Usuario</a>
  <a class="btn btn-secondary" href="{{ url_for('logout') }}">Salir</a> <!-- Agrega el botón "Salir" -->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock %}
