/* Estilos personalizados para la aplicación */
body {
    background-image: url('../static/images/plantilla.png'); /* Ruta a la imagen en la carpeta "images" dentro de "static" */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5B97A2;
    color: #FFFFFF;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #5B97A2; /* Fondo morado */
}

.navbar-light .navbar-brand {
    color: #555555; /* Texto gris */
    font-family: Copperplate, fantasy; /* Reemplaza 'FuenteDeseada' con la fuente que desees utilizar */
    font-size: 24px; /* Tamaño de fuente */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-right: 20px; /* Agrega margen derecho para mover el texto hacia la derecha */
}

.navbar-light .navbar-brand:hover {
    color: #FFFFFF; /* Cambia el color del texto en el hover */
}

/* Estilos para el botón de Salir */
.btn-secondary {
    margin-right: 20px; /* Agrega margen derecho para separar el botón del margen derecho */
}

/* Estilos para los botones */
.btn-primary {
    background-color: #FF8D8E; /* Fondo naranja para botones primarios */
    border-color: #FF8D8E; /* Borde naranja para botones primarios */
    color: #FFFFFF; /* Texto blanco para botones primarios */
}

.btn-primary:hover {
    background-color: #FDFAD9; /* Fondo amarillo en hover para botones primarios */
    border-color: #FDFAD9; /* Borde amarillo en hover para botones primarios */
    color: #5B97A2; /* Texto morado en hover para botones primarios */
}

h1 {
    color: #FFFFFF; /* Texto blanco */
    font-family: Lucida Console, Monospace; /* Reemplaza 'FuenteDeseada' con la fuente que desees utilizar */
    font-size: 36px; /* Tamaño de fuente */
    text-transform: uppercase; /* Convierte el texto en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-align: center; /* Centra el texto horizontalmente */
}
